anndata==0.10.9
array_api_compat==1.11.2
contourpy==1.3.0
cycler==0.12.1
exceptiongroup==1.3.0
fonttools==4.58.0
h5py==3.13.0
importlib_resources==6.5.2
joblib==1.5.1
kiwisolver==1.4.7
matplotlib==3.9.4
natsort==8.4.0
numpy==2.0.2
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pydeseq2==0.4.12
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.13.2
tzdata==2025.2
zipp==3.22.0
